<!DOCTYPE html>
<html ng-app="Selecta">
<head>
  <title>SelectaPrototype</title>
  <script src="http://connect.soundcloud.com/sdk.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<script type='text/ng-template' id='/home.html'>
  <div class="page-header">
    <h1>Selecta Prototype</h1>
  </div>
</script>

<script type="text/ng-template" id="/track.html">
  <div ng-controller="TrackCtrl as TC">

    <div class="page-header" style>
      <h1 style="color:blue">{{TC.selected_song.title}}</h1>
      <img src="{{TC.selected_song.artwork_url}}"/>
      <button ng-click="TC.play()" id='play'>Play</button>
      <button ng-click="TC.stop()">Pause</button>
      <button ng-click="TC.like()">Like</button>
      <button ng-click="TC.next()">Next</button>
    </div>



  </div
</script>

<script type="text/ng-template" id="/songs.html">
<div ng-controller="TrackCtrl">
  <table>
    <tr ng-show="songs.length" ng-repeat="song in songs">
      <td>{{song.soundcloud_id}}</td>
    </tr>
  </table>
</div>
</script>



<body>
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<p><%= notice %></p>
<%= yield %>

</body>
</html>
